/* Asetetaan nollaksi marginaalit ja täyttötila kaikille elementeille */
* {
    margin: 0;
    padding: 0;
    font-family: Comfortaa, sans-serif; /* Mukavat kirjasintyypit */
}

/* Containerin tyylit */
.container {
    width: 100%;
    height: 100vh; /* Vie koko näytön korkeuden */
    background-position: center; /* Taustakuvan sijainti keskellä */
    background-size: cover; /* Taustakuva täyttää koko elementin */
    background-repeat: no-repeat; /* Estetään taustakuvan toisto */
    padding-left: 8%; /* Vasen täyttötila */
    padding-right: 8%; /* Oikea täyttötila */
    box-sizing: border-box; /* Laatikon koko sisältäen reunat ja täytön */
}

/* Erillinen container rallitien taustakuvalla */
.croad {
    background-image: linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,1)), url(img/rally_road.png);
}

/* Erillinen container ralliauton taustakuvalla */
.ccars {
    background-image: linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,1)), url(img/rally_car.png);
}

/* Erillinen container historiallisen ralliauton taustakuvalla */
.chistoric {
    background-image: linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,1)), url(img/rally_historic.png);
}

/* Erillinen container yhteystiedot taustakuvalla */
.ccontact {
    background-image: linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,1)), url(img/rally_contact.png);
}

/* Navigaatiopalkin tyylit */
.navbar {
    height: 15%; /* Määritellään palkin korkeus */
    display: flex; /* Asetetaan elementit joustaviksi */
    align-items: center; /* Asetetaan elementit pystysuunnassa keskelle */
}

/* Logo */
.logo {
    width: 80px; /* Leveys */
    height: 80px; /* Korkeus */
    cursor: pointer; /* Osoitin muuttuu kärsäksi */
    background-size: cover; /* Taustakuva täyttää koko elementin */
    border-radius: 50% 90% 50% 90%; /* Pyöristetty reuna */
    box-shadow: 0 0 15px #fff; /* Reunusvarjostus */
}

/* Navigointivalikon tyylit */
nav {
    flex: 1; /* Vie joustavan tilan */
    text-align: center; /* Teksti keskelle */
}

nav ul {
    padding: 0; /* Asetetaan sisäinen täyttötila nollaksi */
    margin: 0; /* Asetetaan marginaali nollaksi */
}

nav ul li {
    list-style: none; /* Poistetaan luettelomerkki */
    display: inline-block; /* Elementit peräkkäin */
    margin-left: 60px; /* Vasen marginaali */
}

nav ul li a {
    text-decoration: none; /* Poistetaan linkin korostus */
    color: #000; /* Tekstin väri */
    text-shadow: 0 0 1px #1a0049; /* Tekstin varjostus */
    font-size: 22px; /* Fontin koko */
    border-radius: 25px; /* Reunojen pyöristys */
    background-color: #fff; /* Taustaväri */
    padding: 10px 20px; /* Sisätila */
    box-shadow: 0 0 20px #1a004950; /* Reunusvarjostus */
    transition: all 0.3s ease; /* Sulavat animaatiot */
}

nav ul li a.active {
    animation: rainbow 5s infinite; /* Aktiivisen linkin animaatio */
    font-weight: bold; /* Lihavoitu teksti */
}

@keyframes rainbow {
0% {
    box-shadow: 0 0 20px #000;
}
25% {
    box-shadow: 0 0 20px #646464;
}
50% {
    box-shadow: 0 0 20px #fff;
}
75% {
    box-shadow: 0 0 20px #646464;
}
100% {
    box-shadow: 0 0 20px #000;
}
}

/* Asetetaan diville, jonka class on historic musta valkoiset kuvat */
.historic {
    filter: grayscale(100%);
}

/* Kotisivun pääsisältö */
.home {
    display: flex; /* Asetetaan elementit riviin */
    align-items: center; /* Asetetaan elementit pystysuunnassa keskelle */
}

/* Tietolaatikko */
.info {
    margin: 50px; /* Ulkoinen marginaali */
    margin-top: 40%; /* Ylämarginaali */
    text-align: center; /* Teksti keskelle */
}

.info p {
    margin-top: 145px; /* Ylämarginaali */
}

/* Sisältöalueet */
.contents {
    display: flex; /* Asetetaan elementit riviin */
    flex-direction: column; /* Asetetaan elementit sarakkeiksi */
    margin-top: 15%; /* Ylämarginaali */
    margin-bottom: 20%; /* Alamarginaali */
}

/* Yhteystietoja esittävät osiot */
.item {
    display: flex; /* Asetetaan elementit riviin */
    justify-content: space-between; /* Tasataan elementit välille */
    align-items: center; /* Asetetaan elementit pystysuunnassa keskelle */
    margin-bottom: 20px; /* Alamarginaali */
}

.item img {
    height: 450px; /* Kuva korkeus */
    width: 45%; /* Kuva leveys */
    border-radius: 25px; /* Reunojen pyöristys */
    box-shadow: 0 0 15px #1a004950; /* Reunusvarjostus */
    object-fit: cover; /* Kuva täyttää elementin säilyttäen mittasuhteet */
}

.item p {
    max-width: 45%; /* Maksimi leveys */
}

.item:nth-child(even) img {
    order: 2; /* Kuvan järjestys */
}

.item:nth-child(even) p {
    order: 1; /* Tekstin järjestys */
}

/* Yleinen tekstityyli */
h1 {
    color: #000; /* Tekstin väri */
    font-size: 70px; /* Fontin koko */
    text-shadow: 0 0 4px #1a0049; /* Tekstin varjostus */
}

p {
    color: #000; /* Tekstin väri */
    text-shadow: 0 0 1px #1a0049; /* Tekstin varjostus */
    font-size: 22px; /* Fontin koko */
    line-height: 130%; /* Riviväli */
}

h2 {
    color: #000; /* Tekstin väri */
    text-shadow: 0 0 2px #1a0049; /* Tekstin varjostus */
    font-size: 25px; /* Fontin koko */
}

/* Alatunnisteen tyylit */
.footer {
    background-color: #fff; /* Taustaväri */
    box-shadow: 0 0 35px #cfcfcf7a; /* Reunusvarjostus */
    display: flex; /* Asetetaan elementit riviin */
    justify-content: space-between; /* Tasataan elementit välille */
    align-items: center; /* Asetetaan elementit pystysuunnassa keskelle */
    width: 100%; /* Leveys */
    position: fixed; /* Kiinteä sijainti */
    bottom: 0; /* Alareuna */
    left: 0; /* Vasen reuna */
    height: 15%; /* Korkeus */
}

.left {
    margin-left: 10%; /* Vasen marginaali */
}

.left ul li {
    list-style: none; /* Poistetaan luettelomerkki */
}

.left ul li a {
    color: #000; /* Tekstin väri */
    text-shadow: 0 0 1px #1a0049; /* Tekstin varjostus */
    text-decoration: none; /* Poistetaan linkin korostus */
    font-size: 22px; /* Fontin koko */
}

.left ul li a:hover,
.left ul li a.active {
    font-weight: bold; /* Lihavoitu teksti */
    text-shadow: 0 0 3px #1a0049; /* Tekstin varjostus */
}

.right {
    text-align: right; /* Teksti oikealle */
    margin-right: 10%; /* Oikea marginaali */
}

/* Otsikko ja teksti alatunnisteessa */
.right h2 {
    font-size: 20px; /* Fontin koko */
}

.right p {
    font-size: 16px; /* Fontin koko */
}

/* Responsiivisuus */
@media screen and (max-width: 1610px) {
    /* Kotisivun pääsisältö responsiivisena */
    .home {
        display: inline-block; /* Asetetaan elementit riviin */
        align-items: center; /* Asetetaan elementit pystysuunnassa keskelle */
        margin-top: 100px; /* Ylämarginaali */
        margin-bottom: 150px; /* Alamarginaali */
    }
    
    .info {
        margin: 0; /* Ulkoinen marginaali */
        margin-top: 350px; /* Ylämarginaali */
    }
}

@media screen and (max-width: 1330px) {
    
    .container {
        background-position: left; /* Taustakuva vasemmalla */
    }

    .navbar {
        height: 75%; /* Palkin korkeus */
    }

    nav {
        display: flex; /* Asetetaan elementit riviin */
        justify-content: center; /* Tasataan elementit keskelle */
    }
    
    nav ul {
        padding: 0; /* Asetetaan sisäinen täyttötila nollaksi */
        margin: 0; /* Asetetaan marginaali nollaksi */
        margin-top: 5%; /* Ylämarginaali */
        text-align: center; /* Teksti keskelle */
    }
    
    nav ul li {
        list-style: none; /* Poistetaan luettelomerkki */
        display: block; /* Elementit peräkkäin */
        margin-bottom: 30px; /* Alamarginaali */
    }
    
    nav ul li a {
        text-decoration: none; /* Poistetaan linkin korostus */
        color: #000; /* Tekstin väri */
        text-shadow: 0 0 1px #1a0049; /* Tekstin varjostus */
        font-size: 20px; /* Fontin koko */
        border-radius: 20px; /* Reunojen pyöristys */
        background-color: #fff; /* Taustaväri */
        padding: 10px 20px; /* Sisätila */
        box-shadow: 0 0 35px #1a004950; /* Reunusvarjostus */
    }

    .info {
        padding: 0 0; /* Sisätila */
        margin-bottom: 35%; /* Alamarginaali */
        margin-right: 0; /* Oikea marginaali */
        margin-top: 0; /* Ylämarginaali */
    }

    .info p {
        margin-top: 50%; /* Ylämarginaali */
        margin-left: 15%; /* Vasen marginaali */
        margin-right: 15%; /* Oikea marginaali */
    }
    
    .item {
        flex-direction: column-reverse; /* Sarakekääntö */
    }

    .item img {
        width: 100%; /* Leveys */
        max-width: 100%; /* Maksimi leveys */
        margin-bottom: 60px; /* Alamarginaali */
    }

    .item p {
        max-width: 100%; /* Maksimi leveys */
        margin-bottom: 20px; /* Alamarginaali */
        text-align: center; /* Teksti keskelle */
    }

    .item:nth-child(even) img {
        order: 1; /* Kuvan järjestys */
    }
    
    .item:nth-child(even) p {
        order: 2; /* Tekstin järjestys */
    }
    
    .info h1 {
        margin-top: 30%; /* Ylämarginaali */
    }

    .left {
        display: none; /* Piilotetaan vasen osa */
    }

    .right {
        margin: auto; /* Marginaalit automaattisesti */
        text-align: center; /* Teksti keskelle */
    }

    .right h2 {
        font-size: 20px; /* Fontin koko */
    }

    .right p {
        font-size: 16px; /* Fontin koko */
    }

    .footer {
        background-color: #f0f0f0; /* Taustaväri */
        display: inline-block; /* Asetetaan elementit riviin */
        align-items: center; /* Asetetaan elementit pystysuunnassa keskelle */
        position: fixed; /* Kiinteä sijainti */
        height: 20%; /* Korkeus */
    }
}
