* {
    margin: 0;
    padding: 0;
    font-family: Aldrich, sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(255,255,255,0.2), rgba(255,255,255,0.2)), url(img/rally_bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}

.navbar {
    height: 15%;
    display: flex;
    align-items: center;
}

.logo {
    width: 80px;
    height: 80px;
    cursor: pointer;
    background-size: cover;
    border-radius: 50% 90% 50% 90%;
    box-shadow: 0 0 15px #fff;
}

nav {
    flex: 1;
    text-align: center;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    text-shadow: 0 0 1px #1a0049;
    font-size: 22px;
    border-radius: 25px;
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 0 20px #1a004950;
    transition: all 0.3s ease;
}

nav ul li a.active {
    animation: rainbow 5s infinite;
    font-weight: bold;
}

@keyframes rainbow {
0% {
    box-shadow: 0 0 20px #000;
}
25% {
    box-shadow: 0 0 20px #646464;
}
50% {
    box-shadow: 0 0 20px #fff;
}
75% {
    box-shadow: 0 0 20px #646464;
}
100% {
    box-shadow: 0 0 20px #000;
}
}

nav ul li a:hover,
nav ul li a:focus {
    box-shadow: 0 0 20px #fff;
    font-weight: bold;
}

.home {
    display: flex;
    align-items: center;
}

.info {
    flex-basis: 50%;
    margin-right: 260px;
    margin-bottom: 400px;
    text-align: center;
}

.cards {
    margin-bottom: 150px;
}

h1 {
    color: #000;
    font-size: 70px;
    text-shadow: 0 0 4px #1a0049;
}

p {
    color: #000;
    text-shadow: 0 0 1px #1a0049;
    font-size: 22px;
    line-height: 130%;
}

.card {
    width: 350px;
    height: 400px;
    display:inline-table;
    border-radius: 30px;
    padding: 30px 30px;
    box-sizing: border-box;
    cursor: pointer;
    background-position: center;
    background-size: cover;
    margin-right: 20px;
    margin-top: 20px;
    box-shadow: 0 0 15px #1a004950;
}

.card_r {
    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.9)), url(img/rally_road.png);
}
.card_c {
    background-image: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.7)), url(img/rally_car.png);
}
.card_h {
    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.9)), url(img/rally_historic.png);
}
.card_ct {
    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.7)), url(img/rally_contact.png);
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px #fff;
}

h2 {
    color: #000;
    text-shadow: 0 0 2px #1a0049;
    font-size: 25px;
}

.card p {
    text-shadow: 0 0 1,2px #1a0049;
    font-size: 22px;
}

.footer {
    background-color: #fff;
    box-shadow: 0 0 35px #cfcfcf7a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 15%;
}

.left {
    margin-left: 10%;
}

.left ul li {
    list-style: none;
}

.left ul li a {
    color: #000;
    text-shadow: 0 0 1px #1a0049;
    text-decoration: none;
    font-size: 22px;
}

.left ul li a:hover,
.left ul li a.active {
    font-weight: bold;
}

.right {
    text-align: right;
    margin-right: 10%;
}

@media screen and (max-width: 1610px) {
    .home {
        display: inline-block;
        align-items: center;
        margin-top: 100px;
        margin-bottom: 150px;
    }
    
    .info {
        margin: 0;
        margin-bottom: 70%;
    }

    .card {
        width: 100%;
    }
}

@media screen and (max-width: 1330px) {
    
    .container {
        background-position: left;
    }

    .navbar {
        height: 75%;
    }

    nav {
        display: flex;
        justify-content: center;
    }
    
    nav ul {
        padding: 0;
        margin: 0;
        margin-top: 5%;
        text-align: center;
    }
    
    nav ul li {
        list-style: none;
        display: block;
        margin-bottom: 30px;
    }
    
    nav ul li a {
        text-decoration: none;
        color: #000;
        text-shadow: 0 0 1px #1a0049;
        font-size: 20px;
        border-radius: 20px;
        background-color: #fff;
        padding: 10px 20px;
        box-shadow: 0 0 35px #1a004950;
    }

    .info {
        padding: 0 0;
        margin-bottom: 35%;
        margin-right: 0;
        margin-top: 0;
    }

    .info p {
        margin-top: 50%;
        margin-left: 15%;
        margin-right: 15%;
    }

    .info h1 {
        margin-top: 30%;
    }

    .left {
        display: none;
    }

    .right {
        margin: auto;
        text-align: center;
    }

    .right h2 {
        font-size: 20px;
    }

    .right p {
        font-size: 16px;
    }

    .footer {
        background-color: #f0f0f0;
        display: inline-block;
        align-items: center;
        position: fixed;
        height: 20%;
    }
}